# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
dist/
build/
.next/
out/

# Misc
*.log
.DS_Store
.env
.env.local
.env.*.local
.cache

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# OS
Thumbs.db
